<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>JiWire UI Boiler Plate</title>
  <link rel="stylesheet" href="/assets/demo.css"/>
  <script type="text/javascript" src="/assets/demo.js"></script>
</head>
<body>

<div class="info">
  <h1>Sample App Placeholder</h1>

  <h2>Built on version: <strong><%= gem_version %></strong></h2>

</div>
</body>
</html>
